{% extends 'base.html' %}

{% load widget_tweaks staticfiles %}

{% block content %}

    <h1>Add new Individual</h1>

    <form role="form" action="" method="post">
    {% csrf_token %}

        {% for field in form %}
            {% if not field.is_hidden %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label}}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                <span class="help-block">
                    <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </span>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        {% comment %}
        <hr>
        <h2>Address</h2>

        {% for field in address_form %}
            {% if not field.is_hidden %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label}}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                <span class="help-block">
                    <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </span>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        {% for key, element in form_sets.items %}
        <section role="{{ element.form_set.prefix }}">
            <hr>
            <h2>{{ element.title }}</h2>

            {{ element.form_set.management_form }}

            <input type="hidden" name="{{ element.form_set.prefix }}-counter" value="{{ element.form_set.total_form_count}}">

            {% for form in element.form_set %}
                <div class="block-wrapper form-{{ element.form_set.prefix }}-{{ forloop.counter0 }}">
                    {% for field in form %}
                        {% if not field.is_hidden %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label class="control-label">{{ field.label}}</label>
                            {{ field|add_class:"form-control" }}
                            {% if field.errors %}
                            <span class="help-block">
                                <ul>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </span>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    <p>
                        <button class="btn btn-danger delete" data-prefix="{{ element.form_set.prefix }}" data-form-id="{{ forloop.counter0 }}" href="#">
                        Delete
                        </button>
                    </p>
                </div>
            {% endfor %}
            <p>
                <button class="btn btn-primary add" data-prefix="{{ element.form_set.prefix }}">
                Add another item
                </button>
            </p>
        </section>
        {% endfor %}
        {% endcomment %}

    <input class="btn btn-default" type="submit" name="submit" value="Submit">

    </form>

{% endblock content %}

{% block extrajs %}
    <!--<script type="text/javascript" src="{% static 'js/form_set_handler.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'bower_components/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('input[name="birth_date"]').inputmask('9999-99-99');
        });
    </script>
{% endblock extrajs %}
