{% extends 'base.html' %}

{% load widget_tweaks staticfiles %}

{% block content %}
    <h2>Other inforamtions</h2>


    <form method="post" action="">{% csrf_token %}

        {% for key, form in forms.items %}

            <h3>{{ key|title }}</h3>

            {% for field in form %}

                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {% if not field.is_hidden %}
                    <label class="control-label">{{ field.label}}</label>
                    {% endif %}
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                    <span class="help-block">
                        <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </span>
                    {% endif %}
                </div>

            {% endfor %}

        {% endfor %}

        <a href="{% url 'individual-list' %}">Skip</a>

        <input class="btn btn-default" type="submit" name="submit" value="Submit">

    </form>

{% endblock content %}