{% extends 'source_type_list.html' %}

{% load widget_tweaks staticfiles django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if '/create' in request.path %}
        {% breadcrumb "Create" "source-type-create" %}
    {% elif '/edit' in request.path %}
        {% with "Edit: "|add:objecte as title %}
        {% breadcrumb title "source-type-edit" object.pk %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        {% if '/create' in request.path %}
                        Create
                        {% elif '/edit' in request.path %}
                        Edit
                        {% endif %}
                    </div>
                    <div class="card-block">
                        <form role="form" action="" method="post">
                        {% csrf_token %}

                            {% for field in form %}
                                {% if not field.is_hidden %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <label class="control-label">{{ field.label}}</label>
                                    {{ field|add_class:"form-control" }}
                                    {% if field.errors %}
                                    <span class="help-block">
                                        <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                        </ul>
                                    </span>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}

                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
