{% load staticfiles compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>
            {% block title %}
                SimpleCrm {% block subtitle %}{% endblock subtitle%}
            {% endblock title %}
        </title>

        {% compress css %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <!-- Main -->
        <link rel="stylesheet" href="{% static "stylesheets/main.min.css" %}">
        {% endcompress %}

        {% block extra_css %}{% endblock extra_css %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            {% compress js %}
            <script src="{% static 'bower_components/html5shiv/dist/html5shiv.min.js' %}"></script>
            <script src="{% static 'bower_components/respond/dest/respond.min.js' %}"></script>
            {% endcompress %}
        <![endif]-->
     </head>
    <body>
        {% block body%}

        {% block navigation %}
            {% include 'navigation.html' %}
        {% endblock navigation %}

        <div class="container">
        {% block content %}{% endblock content %}
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        {% compress js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        {% endcompress %}

        {% block extrajs %}{% endblock %}

        {% endblock body %}
    </body>
</html>
