{% load gravatar %}

<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler layout-toggler" href="#">☰</a>
            </li>

            <li class="nav-item px-1">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Users</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right hidden-md-down">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {% gravatar request.user.email 30 request.user.email 'img-avatar' %}
                    <span class="hidden-md-down">{{ request.user.username }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'profile' request.user.id %}"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link aside-toggle" href="#" style="display:none;">☰</a>
            </li>

        </ul>
    </div>
</header>
